<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Vulkan 1.1 required for Adreno 730 (Snapdragon 8+ Gen 1) -->
    <uses-feature android:name="android.hardware.vulkan.version"
                  android:version="0x00401000"
                  android:required="false" />
</manifest>
