<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:supportsRtl="true">
        
        <activity
            android:name=".HardwareStandaloneActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <!-- Removed launcher to avoid merger conflict -->

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
    </application>

</manifest>
